.inputConteiner{
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 1px 0.5px #ddd;
  flex-wrap: wrap;
}

.inputConteiner input{
  border: none;
  outline: none;
  width: stretch;
}

.inputConteiner label{
  font-size: 11px;
  display: block;
  position: relative;
  top: -3px;
}
