.menu{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.menuHeader{
  height: 140px;
  background: #042b3d;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
}

.menuContent{
  display: flex;
  background: #f2f2f2;
  justify-content: center;
}

.menu_item{
 display: flex;
 flex-direction: column;
 align-items: center;
 text-decoration: none;
 color: black;
 font-weight: 400;
 padding: 10px 15px;
}

.menu_item_focused{
  background: #fff;
}
.menu_item span{
  display: none;
}
.menu_item img, .menu_item svg{
  width: 25px;
  height: 25px;
}


@media(min-width: 900px){
  .menu{
    width: 35%;
    max-width: 300px;
    min-width:220px;
    height: 100%;
  }
  .menuContent{
    height: stretch;
    flex-direction: column;
    justify-content: flex-start;
  }
  .menu_item{
    flex-direction: row;
    justify-content: flex-start;
    gap: 5px;
  }
  .menu_item span{
    display: inline;
  }
}
