.notificationsContainer{
	display: flex;
	flex-direction: column;
	width: 100%;
	position: fixed;
	height: 100%;
	background: white;
	top: 0;
	padding: 30px 10px 10px;
	overflow: auto;
}

.notification{
	width: 100%;
	word-break: break-word;
	font-size: 13px;
	color: #444;
	border-top: solid 1px #aaa5;
	padding: 10px 0;
}

.notificationsIcon{
	display: flex;
	background: white;
	justify-content: center;
	align-items: center;
	position: fixed;
	border-radius: 5px;
	top: 10px;
	right: 10px;
	box-shadow: 0 2px 8px rgba(0,0,0,0.2);
	padding: 3px;
}

.notificationsIcon svg{
	width: 35px;
	height: 35px;
}




@media(min-width: 900px){
	.notificationsContainer{
		width: 300px;
		height: 350px;
		border-radius: 10px;
		box-shadow: 0 2px 8px rgba(0,0,0,0.2);
		top: 60px;
		right: 10px;
	}
}