#alunosPage, #alunosPageDesktop{
  display: flex;
  flex-direction: column;
  height: stretch;
  background: white;
  overflow: hidden;
  width: 100%;
}
#alunosPageDesktop{
  display: none;
  flex-direction: row;
  gap: 20px;
  padding: 20px 10px;
}

.menuAlunos{
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
  overflow-y: auto;
}

.aluno{
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 2px 1px #eee;
  border-radius: 10px;
  /*align-items: center;*/
  padding: 6px;
  height: fit-content;
  cursor: pointer;
}

.aluno svg{
  height: 35px;
  width: 35px;
}
.aluno span{
  color: #606060;
  font-size: 11px;
}

.alunoInfo{
  display: flex;
  /*flex-direction: column;*/
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.alunoInfo h5{
  color: #606060;
}
.alunoInfo svg{
  background: /*#e9e9e9*/ #ddd;
  border-radius: 30px;
  padding: 2px;
  border: solid 2px /*#65bbff*/ white;
  box-shadow: 0 0 2px 1px #ddd;
}
.alunoInfo div{
  
}

.alunoInfo span{
  color: #ababab;
}

.searchAluno, .searchAlunoDesktop{
  background: white;
  padding: 6px;
  box-shadow: 0 0 1px 1px #ddd;
  border-radius: 100px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 50px;
  right: 15px;
}

.searchAluno svg{
  height: 25px;
  width: 25px;
}

.searchAluno input{
  padding: 2px 4px;
  outline: none;
  border: none;
  width: 150px;
}
.searchAlunoDesktop{
  position: initial;
  border-radius: 5px;
  width: 100%;
  justify-content: space-between;
}

.searchAlunoDesktop input{
  border: none;
  outline: none;
  width: stretch;
}
.subMenuAluno{
  display: flex;
  flex-direction: column;
  padding: 4px 10px 10px 10px;
  /*align-items: center;*/
  width: stretch;
  gap: 8px;
  overflow-y: auto;
}
.subMenuAlunoIcon svg{
  background: /*#e9e9e9*/ #ddd;
  border-radius: 30px;
  padding: 2px;
  border: solid 4px white;
  box-shadow: 0 0 4px 2px #ddd;
  height: 55px;
  width: 55px;
}
.subMenuAluno h3{
  color: #404040;
}
.subMenuAluno h5{
  /*text-align: center;
  margin-top: 2px;*/
  color: #358bff;
  border-bottom: solid 1px #358bff;
  padding: 5px 0;
}
.subMenuAlunoInfo{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2px;
}

.subMenuAlunoInfo span{
  color: #343434;
  font-size: 13px;
}
.subMenuAlunoInfoActividade{
  background: #00dd0022;
  color: #00bb00;
  padding: 2px 4px;
  border-radius: 10px;
}


.menuAlunosDesktop{
  display: flex;
  flex-direction: column;
  width: stretch;
  height: stretch;
  /*max-width: 700px;*/
}
.subMenuAlunoDesktop{
  display: flex;
  width: stretch;
  height: stretch;
}
.alunoDispositivo{
  display: flex;
  justify-content: space-between;
  /*align-items: center;*/
  box-shadow: 0 0 3px 1px #e9e9e9;
  margin-bottom: 3px;
  padding: 8px;
  border-radius: 10px;
  width: 100%;
}
.alunoDispositivo span{
  display: flex;
  /*align-items: center;*/
  gap: 5px;
  font-size: 13px;
  font-weight: bold;
}

.alunoDispositivo svg{
  height: 28px;
  width: 28px;
  box-shadow: none;
  background: #358bff33;
  border-radius: 5px;
  padding: 3px;
}

.closeButton{
  /*background: red;*/
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 2px;
}

.closeButton svg{
  height: 25px;
  width: 25px;
}


@media(min-width: 900px){
  #alunosPage{
    display: none;
  }
  #alunosPageDesktop{
    display: flex;
  }
  .closeButton{
    display:  none;
  }
  .searchAluno{
    display: none;
  }
  .searchAlunoDesktop{
    box-shadow: 1px 1px 1px 0px #ddd;
  }
  .aluno{
    box-shadow: none;
    border-bottom: solid 1.5px #ddd;
  }
}
