.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  /*padding: 20px;*/
}

.card {
  width: 100%;
  max-width: 25rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1);
  padding: 2.5rem;
}

.title {
  font-size: 1.5rem;
  line-height: 2rem;
  color: #162938;
  text-align: center;
  margin-bottom: 2rem;
}

.error {
  background-color: rgb(254 242 242);
  color: rgb(239 68 68);
  padding: 0.75rem;
  border-radius: 0.5rem;
  margin-bottom: 1.25rem;
  text-align: center;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  /*margin-bottom: 1.25rem;*/
}

.label {
  color: #162938;
  font-weight: 500;
  display: block;
    font-size: 0.875rem;
    font-weight: 500;
    color: #2a4859;
}

.input {
  padding: 0.75rem;
  border: 1px solid rgb(209 213 219);
  border-radius: 0.5rem;
  width: 100%;
    padding: 0.5rem 1rem;
    border: 1px solid #d1d5db;
    border-radius: 0.5rem;
}

.input:focus {
  outline: none;
  border-color: #358bff;
  box-shadow: 0 0 0 1px #358bff;
}

.mapContainer {
  /*margin: 1.5rem 0;*/
  border: 1px solid #e0e0e0;
  padding: 1rem;
  background: #f9f9f9;
  height: 250px;
  width: 100%;
  border-radius: 8px
}

.subtitle {
  margin-bottom: 1rem;
  color: #444;
  font-size: 0.875rem;
}

.locationPreview {
  background: #f0f0f0;
  padding: 1rem;
  border-radius: 6px;
  margin: 1rem 0;
}

.locationPreview p {
  margin: 0.5rem 0;
  font-size: 0.9rem;
}

.formSection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.button {
  width: 100%;
  background-color: #358bff;
  color: white;
  padding: 0.75rem;
  border-radius: 0.5rem;
  transition: background-color 0.2s;
  border: none;

}

.button:hover {
  background-color: #2a7ae9;
}
 
.buttonSecondary {
  background-color: rgb(243 244 246);
  color: #162938;
}

.buttonSecondary:hover {
  background-color: rgb(229 231 235);
}

.checkboxGroup {
  display: flex;
  flex-direction: column;
  gap: 7px;
  /*margin: 1rem 0;*/
}

.checkboxLabel {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #162938;
  cursor: pointer;
  font-size: 0.875rem;
}

.checkbox {
  width: 1rem;
  height: 1rem;
  accent-color: #162938;
}

.buttonGroup {
  display: flex;
  gap: 1rem;
  /*margin-top: 1.5rem;*/
}

.buttonFlex {
  flex: 1 1 0%;
}

.disabled {
  background-color: rgb(209 213 219);
  cursor: not-allowed;
}

.link {
  color: #358bff;
  font-weight: 600;
  text-decoration: none;}

.link:hover {
  text-decoration: underline;
}

.textCenter {
  text-align: center;
  font-size: 0.875rem;
  color: #2a4859;
}

.loginRedirect{
  width: 100%;
  margin-top: 1.5rem;
  text-align: center;
  font-size: 0.875rem;
  color: #2a4859;
}